* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #16E0BD;
    color: #666666;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 25px;
    /* ADD YOUR OWN CODE BELOW */
    text-transform: uppercase;

}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background-color: #c2c1c1;
    border-radius: 2vw;
  
}

form {
    background-color: #F9F9F9;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    /* ADD YOUR OWN CODE BELOW */
    padding: 2vw;  
    margin: 0 auto;
    border-radius: 2vw;
    max-width: 55;
}

h3 {
    /* ADD YOUR OWN CODE BELOW */
    text-align: center;
    text-transform: uppercase;

}

label {
    /* ADD YOUR OWN CODE BELOW */
    margin: 1vw;

}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
button[type="submit"] {
    font: 400 12px "Trebuchet MS";
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    /* ADD YOUR OWN CODE BELOW */
    padding: 1vw;
    margin: 1vw;
    width: 400px;
    border-radius: 40px;
    outline: none;

}

textarea {
    /* ADD YOUR OWN CODE BELOW */
    height: 150px;
    resize: none;
    border-radius: 20px;
}

.form-group {
    /* ADD YOUR OWN CODE BELOW */
    

}

.form-group-required {
    color: #FF0000;
}

button[type="submit"] {
    background-color: #EE6352;
    color: #F9F9F9;
    /* ADD YOUR OWN CODE BELOW */

}

button[type="submit"]:hover {
    background-color: #EC4E3B;
}

button[type="submit"]:active {
    /* ADD YOUR OWN CODE BELOW */

}

input:focus,
textarea:focus {
    border: 1px solid #AAAAAA
    /* ADD YOUR OWN CODE BELOW */
}